<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>LeagueStats</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <style>
            
        </style>
    </head>
    <body>
        <div class="container">
            <div class="logo"><img src="{{ url_for('static', filename='css/logo.png') }}" /></div>
            <div class="card">
                <div class="content">
                    <form class = "grid" action = "/result" method = "POST">
                        <div class="cust_select">
                            <select name="region">
                                <option name = "euw" id = "euw" value="euw">EUW</option>
                                <option name = "na" id = "na" value="na">NA</option>
                                <option name = "eune" id = "eune" value="eune">EUNE</option>
                            </select>
                        </div>
                        <input class="formfield" type = "text" name = "name" id = "name" placeholder="Username...">
                        <input type="Submit" class = "file_submit" value="Go">
                        <div class="result">
                            {% if bestchamp %}
                                <div class="Bestimg"><img src="{{ url_for('static', filename='css/Best.png') }}"/></div>
                                <div class="bccontain">
                                    <div class="bchamp1"><img src = {{ bestchamp[0] }} /></div>
                                {% if bestchamp[1] %}
                                    <div class="bchamp2"><img src = {{ bestchamp[1] }} /></div>
                                {% endif %}
                                {% if bestchamp[2] %}
                                    <div class="bchamp3"><img src = {{ bestchamp[2] }} /></div>
                                {% endif %}
                                </div>
                            {% endif %}
                            {% if worstchamp %}
                                <div class="Worstimg"><img src="{{ url_for('static', filename='css/Worst.png') }}"/></div>
                                <div class="wccontain">
                                    <div class="wchamp1"><img src = {{ worstchamp[0] }} /></div>
                                    {% if worstchamp[1] %}
                                        <div class="wchamp2"><img src = {{ worstchamp[1] }} /></div>
                                    {% endif %}
                                    {% if worstchamp[2] %}
                                        <div class="wchamp3"><img src = {{ worstchamp[2] }} /></div>
                                    {% endif %}
                            {% endif %}
                        </div>
                        {% if Mmr %}
                            <div class="ligne1"></div>
                            <div class="mmrimg"><img src="{{ url_for('static', filename='css/mmr.png') }}"/></div>
                            <div class="mmr"><img src = "{{ Mmr }}" /></div>
                            <div class="reach">
                                <div class="reachimg">
                                    {% if partie[0] %}
                                    <div class="reachimg1"><img src= {{ partie[0] }} /></div>
                                    {% endif %}
                                    {% if partie[1] %}
                                        <div class="reachimg2"><img src= {{ partie[1] }} /></div>
                                    {% endif %}
                                    {% if partie[2] %}
                                        <div class="reachimg3"><img src= {{ partie[2] }} /></div>
                                    {% endif %}
                                </div>
                                {% if gamemoy < 1000 %}
                                    <div class="reachimg4"><img src= "{{ url_for('static', filename='css/reach.png') }}" /></div>
                                {% endif %}
                                <div class="diamond"><img src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/6.png?v=8" /></div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
